<a href="https://colab.research.google.com/github/princeKike27/Roller-Coaster/blob/main/Roller_Coaster.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import packages
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# load data
roller_coasters = 'https://raw.githubusercontent.com/princeKike27/Roller-Coaster/main/roller_coasters.csv'
steel_winners = 'https://raw.githubusercontent.com/princeKike27/Roller-Coaster/main/Golden_Ticket_Award_Winners_Steel.csv'
wood_winners = 'https://raw.githubusercontent.com/princeKike27/Roller-Coaster/main/Golden_Ticket_Award_Winners_Wood.csv'

df_coasters = pd.read_csv(roller_coasters)
df_steel = pd.read_csv(steel_winners)
df_wood = pd.read_csv(wood_winners)

In [3]:
# roller coasters
df_coasters.head()

            name material_type  ...            park            status
0       Goudurix         Steel  ...    Parc Asterix  status.operating
1  Dream catcher         Steel  ...   Bobbejaanland  status.operating
2     Alucinakis         Steel  ...    Terra Mítica  status.operating
3       Anaconda        Wooden  ...  Walygator Parc  status.operating
4         Azteka         Steel  ...          Le Pal  status.operating

[5 rows x 10 columns]

In [4]:
# steel gold winners
df_steel.head()

   Rank                Name  ... Points Year of Rank
0     1    Millennium Force  ...   1204         2013
1     2             Bizarro  ...   1011         2013
2     3  Expedition GeForce  ...    598         2013
3     4               Nitro  ...    596         2013
4     5    Apollo’s Chariot  ...    542         2013

[5 rows x 8 columns]

In [5]:
# wooden gold winners
df_wood.head()

   Rank          Name  ... Points Year of Rank
0     1  Boulder Dash  ...   1333         2013
1     2       El Toro  ...   1302         2013
2     3       Phoenix  ...   1088         2013
3     4    The Voyage  ...   1086         2013
4     5   Thunderhead  ...    923         2013

[5 rows x 8 columns]